<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel.et</title>
    <link rel="stylesheet" href="./../Styles/Attraction.css">
    <link rel="stylesheet" href="./../Styles/index.css">
</head>
<body>
    <header class="top">
        <h1 class="top__left-part">betselotkidane111@gmial.com | +251 9 49 38 79 08</h1>
        <div class="top__right-part">
                <img class="top__right-part__social-media" src="../Image/facebook.jpeg" alt="Facebook">
                <img class="top__right-part__social-media" src="../Image/twitter.png" alt="Twitter">
                <img class="top__right-part__social-media" src="../Image/Instagram_icon.png.webp" alt="Instagram">
                <img class="top__right-part__social-media" src="./Image/linkedin.png" alt="Linkedin">
                <img class="top__right-part__social-media" src="../Image/youtube.jpg" alt="YouTube">
        </div>
    </header>

    <nav class="nav-bar">
        <img class="logo" src="../Image/Logo.png" alt="Logo of the website">
        
        <ul class="nav-bar__menu">
            <li class="nav-bar__item"><a href="./Home.html"> Home</a></li>
            <li class="nav-bar__item"><a href="./Tour.html"> Tour</a></li>
            <li class="nav-bar__item"><a href="./Blog.html"> Blog</a></li>
            <li class="nav-bar__item nav-bar__item--active"><a href="./Attraction.html"> Attractions</a></li>
            <li class="nav-bar__item"><a href="./Service.html"> Services</a></li>
            <li class="nav-bar__item"><a href="./About.html"> About</a></li>
            <li class="nav-bar__item"><a href="./Contact.html"> Contact</a></li>
        </ul>

        <div class="hamburger__menu"> 
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </nav>

    <main>
        <h2 class="History">History</h2>
        <div class="adwa">
            <img class="adwa__image" src="../Image/adwa-victory.jpg" alt="Adwa victory of Ethiopia">
            <article class="adwa__description">
                <h3 class="adwa__header">Adwa</h3>
                <p class="adwa__text">The Battle of Adwa was fought on March 1, 1896 between Ethiopia and Italy near the town of Adwa in northern Ethiopia. 
                    The Ethiopians were victorious, decisively defeating the Italian forces. This victory marked an important milestone in Ethiopian success 
                    against European colonialism, becoming a symbol of African pride and a source of inspiration to African independence movements across the 
                    continent. Ethiopia was thereby one of the only African nations to effectively resist European colonization efforts throughout the 19th century 
                    and into the 20th century. Moreover, it showed that Africa could triumph over European invaders with courage and resourcefulness rather than only by 
                    relying on superior military strength or arms. This victory is still remembered today as a sign of Ethiopian strength and national pride.</p>
            </article>
        </div>

        <article class="origin">
            <div class="origin__description">
                <h2 class="origin__header">Origin of humanity</h2>
                <p class="origin__text">Ethiopia is one of the earliest known centers of human civilization and holds special place in human history. It is believed by
                    some to be the original source of humanity. This is supported by some science findings, including the world-renowned discovery of the 3 million-year-old
                    fossil, "Lucy," in Ethiopia's Rift Valley in 1974. Lucy represents one of our earliest ancestors who had a mix between ape and human characteristics. The find
                    showed that our early ancestors had an upright posture, similar to humans today, marking an important milestone in our evolution. Ethiopia has also been home to
                        grand civilizations like the Aksumite Empire which played a major role in ancient trade relations with Greece, Rome and Egypt and established Christianity as a state 
                        religion which later spread throughout North Africa and Europe in the fourth century A.D.</p>
            </div>
            <img class="origin__image" src="../Image/origin of humanity.jpg" alt="Ethiopia Origin of Humanity">
        </article>

        <article class="civilization">
            <img class="civilization__image" src="../Image/civiliazation.jpg" alt="Ethiopian ancient civilization">
            <div class="civilization__description">
                <h2 class="civilization__header">Ancient Civilisation</h2>
                <p class="civilization__text">Ethiopian ancient civilization has a long and storied history, dating back to at least the 10th century BC. Uniquely for its region, Ethiopia was never 
                    colonized and proud of its regional autonomy. In medieval times, political and spiritual power were strongly linked, centered around the powerful Ethiopian Orthodox Church. 
                    Architecture from this period is a mix of native Aksumite styles, mixed with influences from Christianity, South Arabia, Greece and Rome – notably stelae monuments in Northern Ethiopia. 
                    The golden age ranged from 1270-1533 CE before Falasha Jews completed their exodus. By 1600s the country ascended within Africa as an important geopolitical power under emperor Menelik II 
                    who famously defeated Italian forces in 1896 at the Battle of Adowa. Ethiopia is home to many important cultural sites including Lalibela Rock-Hewn Churches, Axum Stele Fields and Gondar Castles 
                    testament to a vibrant past along far flung imperial roads!</p>
            </div>
        </article>

        <h3 class="culture__header">Culture</h3>
        <section class="culture">
            <div class="culture__grid">
                <div class="coffee">
                    <img class="coffee__image" src="../Image/coffee.jpg" alt="">
                    <p class="coffee__description">The Ethiopian coffee origin story dates back to over 1000 years. It is believed that the indigenous 
                        Oromo tribe was the first to recognize the energizing effects of the beans found growing wild near their homeland of Kaffa in
                        South-West Ethiopia.</p>
                </div>
                <div class="wedding">
                    <p class="wedding__description">Traditional: Ancient rituals, colorful dress, feast, exchanging of gifts, events.  Church: Blessing, prayer, exchange vows,
                        readings, hymns, sharing bread/wine.</p>
                    <img class="wedding__image" src="../Image/wedding.jpg" alt="Wedding Ceremony In Ethiopia">
                </div>
                <div class="holidays">
                    <img class="holidays__image" src="../Image/Holidays.jpg" alt="Ethiopian Holidays ceremony">
                    <p class="holidays__description">Ethiopian holidays are colourful and joyous. Traditional dances
                        , music, songs, traditional clothing and great food all make for an unforgettable experience.</p>
                </div>
                <div class="clothes">
                    <p class="clothes__description">Ethiopian traditional clothing is unique and vibrant. It includes loose, 
                        white robes for men known as Gabi and brightly coloured wrap dresses for women known as Habesha kemis decorated with intricate Ethiopian crosses, scarfs, jewellery and hats.</p>
                    <img class="clothes__image" src="../Image/clothes.jpg" alt="Ethiopian traditinal clothes">
                </div>
            </div>
        </section>


        <article class="art__sience__container">
            <h2 class="art__sience__header">Art and Sience in Ethiopia</h2>
            <p class="art__sience__description">The National Museum of Ethiopia in Addis Ababa is renowned for its collection of art and science specimens.
                It houses a wide range of artifacts, sculptures and archaeological finds dating back centuries. Its holdings include Paleolithic and Mesolithic 
                stone tools, traditional masks, ceramics and manuscripts, as well as more modern scientific instruments in the form of geological specimens, 
                animal dioramas and ancient coins. Visitors can explore the history of the country through interactive displays, hands-on workshops and guided tours.</p>
        </article>

        <section class="music-container">
            <h2 class="main__music__header">Music</h2>
            <article class="main__music__text">Ethiopian music is multi-cultural, featuring traditional rhythms and instruments like azmari, 
                kebero and masenqo. Popular legends include Aster Aweke, 
                Mahmoud Ahmed and Mulatu Astatke.</article>
            <div class="music">
                <div class="legends">
                    <div class="legends__item">
                        <div class="music__flex">
                            <img class="music__image" src="../Image/tilahun gessese.jpg" alt="Tilahun Gessesse Ethiopian Famouse Artist">
                            <div class="music__description">
                                <p class="music__header">Tilahun Gessesse</p>
                                <p class="music__text">Full album non stop: 0:08</p>
                                <audio class="music__player" controls loop src="../Audio/ጥላሁን ገሰሰ ፍቅርሽ ነው የጎዳኝtilahun gesese fikrish new yegodagn Music With Lyrics (mp3cut.net).mp3"></audio>
                                <p><a  rel="trascript" for="audio1" title="Amharic trascript" href="#text1">Transcript below</a></p>
                                <pre id="text1">ከሰው ተራ ኣውጥቶ
 ያረገኝ ብቸኛ </pre>
                            </div>
                        </div>
                    </div>
                    <div class="legends__item">
                        <div class="music__flex">
                            <img class="music__image" src="../Image/Dawit Tsige.jpg" alt="Dawit Tsige">
                            <div class="music__description">
                                <p class="music__header">Dawit Tsige</p>
                                <p class="music__text">Yene Zema full albom non stop: 0:08</p>
                                <audio class="music__player" controls loop src="../Audio/Dawit Tsige  Wude Wude Lyrics  Ethiopian Music (mp3cut.net).mp3"></audio>
                                <p><a  rel="trascript" for="audio2" title="Amharic trascript" href="#text2">Transcript below</a></p>
                                <pre id="text2">አይኔማ አይፈልገው
 ካንቺ አልፎ ማየትን</pre>
                            </div>
                        </div>
                    </div>
                    <div class="legends__item">
                        <div class="music__flex">
                            <img class="music__image" src="../Image/teddy afro.jpg" alt="Teddy Afro">
                            <div class="music__description">
                                <p class="music__header">Teddy Afro</p>
                                <p class="music__text">Teddy Afro non stop collection: 0:08</p>
                                <audio class="music__player" controls  src="../Audio/Teddy Afro  Mar eske Tuwaf Fikir Eske Meqabir (mp3cut.net).mp3"></audio>
                                <p><a  rel="trascript" for="audio3" title="Amharic trascript" href="#text3">Transcript below</a></p>
                                <pre id="text3">የጸበል ዳር እንኮይ ወንዝ ያወዛት ቅጠል
ተሸፈና ዋርካ ከልሏት የዛፍ ጠል </pre>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="countryside">
                    <div class="countryside_item">
                        <div class="music__flex">
                            <img class="music__image" src="../Image/alemayew ehete.jpeg" alt="Alemayehu Eshete">
                            <div class="music__description">
                                <p class="music__header">Alemayew Eshete</p>
                                <p class="music__text">Non stop collection: 3:34</p>
                                <audio class="music__player" controls src="../Audio/Alemayehu Eshete Teqeyersh አለማየሁ እሸቴ ተቀየርሽ  New Ethiopian Music 2021Official Video (mp3cut.net) (2).mp3"></audio>
                                <p><a  rel="trascript" for="audio4" title="Amharic trascript" href="#text4">Transcript below</a></p>
                                <pre id="text4">እንደ ፊቱ መስለሺኝ
 መቀየርሽን ሳላቅ </pre>
                            </div>
                        </div>
                    </div>
                    <div class="countryside__item">
                        <div class="music__flex">
                            <img class="music__image" src="../Image/fikiradis nekatbeb.jpg" alt="Fikiraddis Nekatbeb">
                            <div class="music__description">
                                <p class="music__header">Fikraddis Nekatbeb</p>
                                <p class="music__text">Best Fikiraddis Nekatbeb collections: 9:55</p>
                                <audio class="music__player" controls  src="../Audio/Fikreaddis Nekatibeb  Misekir ምስክር New Best Ethiopian Music Video 2015 (mp3cut.net).mp3"></audio>
                                <p><a  rel="trascript" for="audio5" title="Amharic trascript" href="#text5">Transcript below</a></p>
                                <pre id="text5">ምስክር ተደርጎ 
 ይደመጥ ትንፋሼ 
ላሳየሀኝ ፍቅር </pre>
                            </div>
                        </div>
                    </div>
                    <div class="countryside__item">
                        <div class="music__flex">
                            <img class="music__image" src="../Image/gigi.jpeg" alt="Ejigayew Shibabaw">
                            <div class="music__description">
                                <p class="music__header">Ejigayew Shibabaw</p>
                                <p class="music__text">Full album 1991:  0:08</p>
                                <audio class="music__player" controls  src="../Audio/GIGI Nafekegn lyrics (mp3cut.net).mp3"></audio>
                                <p><a  rel="trascript" for="audio6" title="Amharic trascript" href="#text6">Transcript below</a></p>
                                <pre id="text6">ናፈቅኝ የኛ ቤት ጨዋታ
 ቁርስ ምሳ እራት የምየ ፈገግታ</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <footer class="footer">
        <div class="footer__container">
            <div class="footer__item">
                <ul class="footer__item__links">
                    <a class="footer__item__header">About</a>
                    <a href="#">tourism</a>
                    <a href="#">companys</a>
                    <a href="#">SiTE</a>
                    <a href="#">travel.et</a>
                    <a href="#">AAU</a>
                    <a href="#">sponsor</a>
                </ul>
            </div>
            <div class="footer__item">
                <ul class="footer__item__links">
                    <a class="footer__item__header">Companys</a>
                    <a href="#">ride</a>                    
                    <a href="#">feres</a>                 
                    <a href="#">taxiye </a>                   
                    <a href="#">tour guides</a>                 
                    <a href="">hotel booking</a>                 
                    <a href="#">ethio tele</a>                                     
                </ul>
            </div>

            <div class="footer__logo">
                <img src="../Image/Logo.png" alt="Logo of the website">
            </div>

            <div class="footer__item">
                <ul class="footer__item__links">
                    <a class="footer__item__header">Services</a>
                    <a href="#">tour guide</a>  
                    <a href="#">transport</a>   
                    <a href="#">flights</a>  
                    <a href="#">hotels</a>  
                    <a href="#">restaurant</a>   
                    <a href="#">music</a>   

                </ul>
            </div>
            <div class="footer__item">
                <ul class="footer__item__links">
                    <a class="footer__item__header">Contact</a>
                    <a href="#">email</a>   
                    <a href="#">facebook</a>    
                    <a href="#">instagram</a>   
                    <a href="#">linkedin</a>    
                    <a href="#">youtube</a> 
                    <a href="#">twitter</a>    
                </ul>
            </div>
        </div>

        <div class="footer__links">
            <p class="footer__copy-right">© Photo, Inc. 2019. We love our users!</p>
            <div class="footer__link">
                <div class="flex__footer">
                    <div class="footer__link__item">
                        <div class="footer__image">
                            <img src="../Image/facebook.jpeg" alt="Facebook">
                        </div>                    
                        <p class="footer__link__name">Facebook</p>
                    </div>
                    <div class="footer__link__item">
                        <div class="footer__image">
                            <img src="../Image/twitter.png" alt="Twitter">
                        </div> 
                        <p class="footer__link__name">Twiter</p>
                    </div>
                </div>
                
                <div class="footer__link__item">
                    <div class="footer__image">
                        <img src="../Image/Instagram_icon.png.webp" alt="Instagram">
                    </div>
                    <p class="footer__link__name">Instagram</p>
                </div>

                <div class="flex__footer">
                    <div class="footer__link__item">
                        <div class="footer__image">
                            <img src="../Image/linkedin.png" alt="Linkedin">
                        </div>
                        <p class="footer__link__name">YouTube</p>
                    </div>
                    <div class="footer__link__item">
                        <div class="footer__image">
                            <img src="../Image/youtube.jpg" alt="YouTube">
                        </div>
                        <p class="footer__link__name">Gmail</p>
                    </div>
                </div>
               
            </div>
        </div>
    </footer>

    <script src="./../index.js"></script>
</body>
</html>