<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel.et</title>
    <link rel="stylesheet" href="./../Styles/Tour.css">
    <link rel="stylesheet" href="./../Styles/index.css">
</head>
<body>
    <header class="top">
        <h1 class="top__left-part">betselotkidane111@gmial.com | +251 9 49 38 79 08</h1>
        <div class="top__right-part">
                <img class="top__right-part__social-media" src="../Image/facebook.jpeg" alt="Facebook">
                <img class="top__right-part__social-media" src="../Image/twitter.png" alt="Twitter">
                <img class="top__right-part__social-media" src="../Image/Instagram_icon.png.webp" alt="Instagram">
                <img class="top__right-part__social-media" src="../Image/linkedin.png" alt="Linkedin">
                <img class="top__right-part__social-media" src="../Image/youtube.jpg" alt="YouTube">
        </div>
    </header>

    <nav class="nav-bar">
        <img class="logo" src="../Image/Logo.png" alt="Logo of the website">
        
        <ul class="nav-bar__menu">
            <li class="nav-bar__item"><a href="./Home.html"> Home</a></li>
            <li class="nav-bar__item nav-bar__item--active"><a href="./Tour.html"> Tour</a></li>
            <li class="nav-bar__item"><a href="./Blog.html"> Blog</a></li>
            <li class="nav-bar__item"><a href="./Attraction.html"> Attractions</a></li>
            <li class="nav-bar__item"><a href="./Service.html"> Services</a></li>
            <li class="nav-bar__item"><a href="./About.html"> About</a></li>
            <li class="nav-bar__item"><a href="./Contact.html"> Contact</a></li>
        </ul>

        <div class="hamburger__menu"> 
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </nav>

    <main>
        <h2 class="hotels-header">Hotels</h2>
        <div class="hotels">
            <div class="hotels__item">
                <figure class="hotels__image">
                    <img class="hotels__thumbnail" src="../Image/sheraton addis.png" alt="Sheraton Addis Hotel Addis Ababa">
                    <div class="hotels__info">Info</div>
                </figure>
                <p class="hotels__description">Sheraton Addis</p>
            </div>
            <div class="hotels__item">
                <figure class="hotels__image">
                    <img class="hotels__thumbnail" src="../Image/Hilton addis.png" alt="Hilton Hotel Addis Ababa">
                    <div class="hotels__info">Info</div>
                </figure>
                <p class="hotels__description">Hilton Hotel</p>
            </div>
            <div class="hotels__item">
                <figure class="hotels__image">
                    <img class="hotels__thumbnail" src="../Image/capital-hotel-and-spa.jpg" alt="Capital Hotel and SPA Addis Ababa">
                    <div class="hotels__info">Info</div>
                </figure>
                <p class="hotels__description">Capital Hotel and SPA</p>
            </div>
            <div class="hotels__item">
                <figure class="hotels__image">
                    <img class="hotels__thumbnail" src="../Image/addissinia-hotel.jpg" alt="Abbisinia Hotel Addis Ababa">
                    <div class="hotels__info">Info</div>
                </figure>
                <p class="hotels__description">Abbisinia Hotel</p>
            </div>
            <div class="hotels__item">
                <figure class="hotels__image">
                    <img class="hotels__thumbnail" src="../Image/monarch-hotel.jpg " alt="Monarch Hotel Addis Ababa">
                    <div class="hotels__info">Info</div>
                </figure>
                <p class="hotels__description">Monarch Hotel</p>
            </div>
            <div class="hotels__item">
                <figure class="hotels__image">
                    <img class="hotels__thumbnail" src="../Image/sky-light-hotel.jpg" alt="Sheraton Addis Hotel Addis Ababa">
                    <div class="hotels__info">Info</div>
                </figure>
                <p class="hotels__description">Sky Light Hotel</p>
            </div>
        </div>

        <section>
            <h3 class="flights-header">Flights</h3>
            <div class="flights">
                <img class="flights__image" src="../Image/ethiopian-airline-transformed.jpg" alt="Ethiopian Airways">
                <div class="flights__description">
                    <p class="flight__header">Ethiopian airways</p>
                    <p class="flight__text">Ethiopian Airlines is the national flag carrier of Ethiopia and one of the largest airlines in Africa. It is owned by the Ethiopian government and is headquartered at Bole International Airport in Addis Ababa, Ethiopia. 
                        The airline operates flights to more than 104 destinations across five continents, making it one of the most extensive networks on the continent. In addition to its regular routes, Ethiopian Airlines also provides charter services.
                        Established in 1945.</p>
                </div>
            </div>
            <div class="other-flights">
                <div class="other-flights__item">
                    <img class="other-flights__image" src="../Image/Semera-Airport.jpg" alt="Ethiopian airport found in 'Semera' ">
                    <p class="other-flights__description">Semera Airport Ethiopia</p>
                </div>
                <div class="other-flights__item">
                    <img class="other-flights__image" src="../Image/gondar-airport-ethiopia.jpg" alt="Ethiopian airport found in 'Gonder'">
                    <p class="other-flights__description">Gondar Airport Ethiopia</p>
                </div>
                <div class="other-flights__item">
                    <img class="other-flights__image" src="../Image/bahrdar-airport.jpeg" alt="Ethiopian airport found in 'Bahrdar'">
                    <p class="other-flights__description">Bahrdar Airport Ethiopia</p>
                </div>
            </div>
        </section>


        <section>
            <h3 class="cars-header">Cars</h3>
            <div class="cars">
                <div class="cars__item">
                    <div class="transport">
                        <img class="cars__image" src="../Image/feres transport.png" alt="'Feres' transportation system in Ethiopa">
                        <p class="cars__description">Feres</p>
                    </div>
                    <div class="transport__address">
                        <p>Head Office</p>
                        <p>Getu Commercial Business Center</p>
                        <p>Email Address : [email protected]</p>
                        <p>Toll Free: 6090</p>
                    </div>
                </div>
                <div class="cars__item">
                    <div class="transport">
                        <img class="cars__image" src="../Image/ride.png" alt="'Ride' transportation system in Ethiopa">
                        <p class="cars__description">Ride </p>
                    </div>
                    <div class="transport__address">
                        <p>Head Office</p>
                        <p>Addis Ababa, Ethiopia</p>
                        <p>Support@ride8294.com</p>
                        <p>call 8294 /Dial ‘taxi’</p>
                    </div>
                </div>
                <div class="cars__item">
                    <div class="transport">
                        <img class="cars__image" src="../Image/seregela.png" alt="'Seregela' transportation system in Ethiopa">
                        <p class="cars__description">Seregela</p>
                    </div>
                    <div class="transport__address">
                        <p>Head Office</p>
                        <p>Merkeb Plaza, 5th Floor, Bole, Addis</p>
                        <p>Email: hello@seregelagroup.com</p>
                        <p>Phone: +25111 557 3640/43/44</p>
                    </div>
                </div>
                <div class="cars__item">
                    <div class="transport" > 
                        <img class="cars__image" src="../Image/zay-ride.png" alt="'Zay-ride' transportation system in Ethiopa">
                        <p class="cars__description">Zay-ride</p>
                    </div>
                    <div class="transport__address">
                        <p>Head Office</p>
                        <p>Bole Mafi Mall #602, Addis Ababa</p>
                        <p>Email Address : info@zayride.com</p>
                        <p>Call Center 6303 | Office +251 116 721 052</p>
                    </div>
                </div>
                <div class="cars__item">
                    <div class="transport">
                        <img class="cars__image" src="../Image/taxiye.jpeg" alt="'Taxiye' transportation system in Ethiopa">
                        <p class="cars__description">Taxiye</p>
                    </div>
                    <div class="transport__address">
                        <p>Head Office</p>
                        <p>Ethiopia,Addis Ababa,Yerer
                            Leka Building</p>
                        <p>Email Address : info@taxiye.com</p>
                        <p>Toll Free: 6055</p>
                    </div>
                </div>
                <div class="cars__item">
                    <div class="transport">
                        <img class="cars__image" src="../Image/hello taxi.png" alt="'Halo taxi' transportation system in Ethiopa">
                        <p class="cars__description">Halo Taxi</p>
                    </div>
                    <div class="transport__address">
                        <p>Head Office</p>
                        <p> (Debre Zeit Road) Next to Global Hotel,
                            Kirkos</p>
                        <p>Email Address :info@addisfortune.net</p>
                        <p>Pbx: +251114163020</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="other-transport">
            <h3 class="other-transport__header">Other Tranportation Systems</h3>
            <div class="other-transport__container">
                <div class="other-transport__item">
                    <img class="other-transport__image" src="../Image/Bole taxi.jpg" alt="Taxi">
                    <p class="other-transport__text">Taxi</p>
                </div>
                <div class="other-transport__item">
                    <img class="other-transport__image" src="../Image/lada.jpg" alt="Addis Ababa Lada Taxi">
                    <p class="other-transport__text">Lada</p>
                </div>
                <div class="other-transport__item">
                    <img class="other-transport__image" src="../Image/minibus.jpg" alt="Mini bus">
                    <p class="other-transport__text">Mini bus</p>
                </div>
                <div class="other-transport__item">
                    <img class="other-transport__image" src="../Image/bus.jpg" alt="Bus">
                    <p class="other-transport__text">Bus</p>
                </div>
                <div class="other-transport__item">
                    <img class="other-transport__image" src="../Image/meter taxi.jpg" alt="Meter taxi">
                    <p class="other-transport__text">Meter taxis</p>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer__container">
            <div class="footer__item">
                <ul class="footer__item__links">
                    <a class="footer__item__header">About</a>
                    <a href="#">tourism</a>
                    <a href="#">companys</a>
                    <a href="#">SiTE</a>
                    <a href="#">travel.et</a>
                    <a href="#">AAU</a>
                    <a href="#">sponsor</a>
                </ul>
            </div>
            <div class="footer__item">
                <ul class="footer__item__links">
                    <a class="footer__item__header">Companys</a>
                    <a href="#">ride</a>                    
                    <a href="#">feres</a>                 
                    <a href="#">taxiye </a>                   
                    <a href="#">tour guides</a>                 
                    <a href="">hotel booking</a>                 
                    <a href="#">ethio tele</a>                                     
                </ul>
            </div>

            <div class="footer__logo">
                <img src="../Image/Logo.png" alt="Logo of the website">
            </div>

            <div class="footer__item">
                <ul class="footer__item__links">
                    <a class="footer__item__header">Services</a>
                    <a href="#">tour guide</a>  
                    <a href="#">transport</a>   
                    <a href="#">flights</a>  
                    <a href="#">hotels</a>  
                    <a href="#">restaurant</a>   
                    <a href="#">music</a>   

                </ul>
            </div>
            <div class="footer__item">
                <ul class="footer__item__links">
                    <a class="footer__item__header">Contact</a>
                    <a href="#">email</a>   
                    <a href="#">facebook</a>    
                    <a href="#">instagram</a>   
                    <a href="#">linkedin</a>    
                    <a href="#">youtube</a> 
                    <a href="#">twitter</a>    
                </ul>
            </div>
        </div>

        <div class="footer__links">
            <p class="footer__copy-right">© Photo, Inc. 2019. We love our users!</p>
            <div class="footer__link">
                <div class="flex__footer">
                    <div class="footer__link__item">
                        <div class="footer__image">
                            <img src="../Image/facebook.jpeg" alt="Facebook">
                        </div>                    
                        <p class="footer__link__name">Facebook</p>
                    </div>
                    <div class="footer__link__item">
                        <div class="footer__image">
                            <img src="../Image/twitter.png" alt="Twitter">
                        </div> 
                        <p class="footer__link__name">Twiter</p>
                    </div>
                </div>
                
                <div class="footer__link__item">
                    <div class="footer__image">
                        <img src="../Image/Instagram_icon.png.webp" alt="Instagram">
                    </div>
                    <p class="footer__link__name">Instagram</p>
                </div>

                <div class="flex__footer">
                    <div class="footer__link__item">
                        <div class="footer__image">
                            <img src="../Image/linkedin.png" alt="Linkedin">
                        </div>
                        <p class="footer__link__name">YouTube</p>
                    </div>
                    <div class="footer__link__item">
                        <div class="footer__image">
                            <img src="../Image/youtube.jpg" alt="YouTube">
                        </div>
                        <p class="footer__link__name">Gmail</p>
                    </div>
                </div>
               
            </div>
        </div>
    </footer>

    <script src="./../index.js"></script>
</body>
</html>