<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel.et</title>
    <link rel="stylesheet" href="./../Styles/About.css">
    <link rel="stylesheet" href="./../Styles/index.css">
</head>
<body>
    <header class="top">
        <h1 class="top__left-part">betselotkidane111@gmial.com | +251 9 49 38 79 08</h1>
        <div class="top__right-part">
                <img class="top__right-part__social-media" src="../Image/facebook.jpeg" alt="Facebook">
                <img class="top__right-part__social-media" src="../Image/twitter.png" alt="Twitter">
                <img class="top__right-part__social-media" src="../Image/Instagram_icon.png.webp" alt="Instagram">
                <img class="top__right-part__social-media" src="../Image/linkedin.png" alt="Linkedin">
                <img class="top__right-part__social-media" src="../Image/youtube.jpg" alt="YouTube">
        </div>
    </header>

    <nav class="nav-bar">
        <img class="logo" src="../Image/Logo.png" alt="Logo of the website">
        
        <ul class="nav-bar__menu">
            <li class="nav-bar__item"><a href="./Home.html"> Home</a></li>
            <li class="nav-bar__item"><a href="./Tour.html"> Tour</a></li>
            <li class="nav-bar__item"><a href="./Blog.html"> Blog</a></li>
            <li class="nav-bar__item"><a href="./Attraction.html"> Attractions</a></li>
            <li class="nav-bar__item"><a href="./Service.html"> Services</a></li>
            <li class="nav-bar__item nav-bar__item--active"><a href="./About.html"> About</a></li>
            <li class="nav-bar__item"><a href="./Contact.html"> Contact</a></li>
        </ul>

        <div class="hamburger__menu"> 
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </nav>

    <main>
        <div class="mission">
            <div class="mission__left">
                <img class="mission__image" src="../Image/mission-crop.jpeg" alt="The mission of our website">
            </div>
            <div class="mission__right">
                <p class="mission__text">Our mission is to be the best tour guides from around the world and make travel 
                    planning easier and more enjoyable. We connect people with experienced, knowledgeable guides who are 
                    passionate about their country and its culture as well as its history. Our goal is to help travellers
                    experience authentic cultural events, explore breathtaking landscapes, and create memories that will 
                    last a lifetime. From ancient ruins to spectacular wildlife sightings, we offer tips and advice for all
                    kinds of unique trips. Whether you're looking for luxurious high-end adventures or budget-friendly options
                    , our team of tour guides provides customized itineraries tailored to your needs. Let us help you simplify the planning
                    process and ensure your vacation is an unforgettable one!
                </p>
            </div>
        </div>
        

        <div class="why-choose">
            <h2 class="why-choose__text">Why choose us</h2>
            <p class="why-choose__paragraph">Our tour guide website in Ethiopia offers a unique, experienced and well-organized tours which are personalized according to the clients’ needs. 
                We have developed and perfected our packages over years of providing successful private guided tours that leave customers with the best memory possible. 
                Our guides are local professionals, who have extensive knowledge about the history and culture of Ethiopia, offering an authentic experience. 
                All our guides are certified by relevant authorities and also have solid experience in giving expert advice to tourists. With us, you don't have to worry about
                anything as we provide complete services from booking tickets to arranging accommodation for you making sure you have a hassle free trip with access to all of 
                Ethiopia's wonders at affordable prices.
            </p>
        </div>

        <div class="about"> 
            <div class="about__item-1">
                <img class="about__image-1" src="../Image/all in one.jpeg" alt="All in one service">
                <p class="about__text-1">All in one</p>
            </div>
            <div class="about__item-1">
                <img class="about__image-1" src="../Image/best service.jpg" alt="Best service Icon">
                <p class="about__text-1">Best service</p>
            </div>
            <div class="about__item-1">
                <img class="about__image-1" src="../Image/tour guide.jpg" alt="Tour guide icon">
                <p class="about__text-1">Your personal tour guide</p>
            </div>
            <div class="about__item-1">
                <img class="about__image-1" src="../Image/easy to use.png" alt="Easy to use icon">
                <p class="about__text-1">Easy to use</p>
            </div>
            <div class="about__item-1">
                <img class="about__image-1" src="../Image/free service.jpg" alt="Free service icon">
                <p class="about__text-1">Free service</p>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="footer__container">
            <div class="footer__item">
                <ul class="footer__item__links">
                    <a class="footer__item__header">About</a>
                    <a href="#">tourism</a>
                    <a href="#">companys</a>
                    <a href="#">SiTE</a>
                    <a href="#">travel.et</a>
                    <a href="#">AAU</a>
                    <a href="#">sponsor</a>
                </ul>
            </div>
            <div class="footer__item">
                <ul class="footer__item__links">
                    <a class="footer__item__header">Companys</a>
                    <a href="#">ride</a>                    
                    <a href="#">feres</a>                 
                    <a href="#">taxiye </a>                   
                    <a href="#">tour guides</a>                 
                    <a href="">hotel booking</a>                 
                    <a href="#">ethio tele</a>                                     
                </ul>
            </div>

            <div class="footer__logo">
                <img src="../Image/Logo.png" alt="Logo of the website">
            </div>

            <div class="footer__item">
                <ul class="footer__item__links">
                    <a class="footer__item__header">Services</a>
                    <a href="#">tour guide</a>  
                    <a href="#">transport</a>   
                    <a href="#">flights</a>  
                    <a href="#">hotels</a>  
                    <a href="#">restaurant</a>   
                    <a href="#">music</a>   

                </ul>
            </div>
            <div class="footer__item">
                <ul class="footer__item__links">
                    <a class="footer__item__header">Contact</a>
                    <a href="#">email</a>   
                    <a href="#">facebook</a>    
                    <a href="#">instagram</a>   
                    <a href="#">linkedin</a>    
                    <a href="#">youtube</a> 
                    <a href="#">twitter</a>    
                </ul>
            </div>
        </div>

        <div class="footer__links">
            <p class="footer__copy-right">© Photo, Inc. 2019. We love our users!</p>
            <div class="footer__link">
                <div class="flex__footer">
                    <div class="footer__link__item">
                        <div class="footer__image">
                            <img src="../Image/facebook.jpeg" alt="Facebook">
                        </div>                    
                        <p class="footer__link__name">Facebook</p>
                    </div>
                    <div class="footer__link__item">
                        <div class="footer__image">
                            <img src="../Image/twitter.png" alt="Twitter">
                        </div> 
                        <p class="footer__link__name">Twiter</p>
                    </div>
                </div>
                
                <div class="footer__link__item">
                    <div class="footer__image">
                        <img src="../Image/Instagram_icon.png.webp" alt="Instagram">
                    </div>
                    <p class="footer__link__name">Instagram</p>
                </div>

                <div class="flex__footer">
                    <div class="footer__link__item">
                        <div class="footer__image">
                            <img src="../Image/linkedin.png" alt="Linkedin">
                        </div>
                        <p class="footer__link__name">YouTube</p>
                    </div>
                    <div class="footer__link__item">
                        <div class="footer__image">
                            <img src="../Image/youtube.jpg" alt="YouTube">
                        </div>
                        <p class="footer__link__name">Gmail</p>
                    </div>
                </div>
               
            </div>
        </div>
    </footer>

    <script src="./../index.js"></script>
</body>
</html>