<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../Styles/Blog.css">
    <link rel="stylesheet" href="./../Styles/index.css">
    <title>Travel.et</title>
</head>
<body>
    <header class="top">
        <h1 class="top__left-part">betselotkidane111@gmial.com | +251 9 49 38 79 08</h1>
        <div class="top__right-part">
                <img class="top__right-part__social-media" src="../Image/facebook.jpeg" alt="Facebook">
                <img class="top__right-part__social-media" src="../Image/twitter.png" alt="Twitter">
                <img class="top__right-part__social-media" src="../Image/Instagram_icon.png.webp" alt="Instagram">
                <img class="top__right-part__social-media" src="./Image/linkedin.png" alt="Linkedin">
                <img class="top__right-part__social-media" src="../Image/youtube.jpg" alt="YouTube">
        </div>
    </header>

    <nav class="nav-bar">
        <img class="logo" src="../Image/Logo.png" alt="Logo of the website">
        
        <ul class="nav-bar__menu">
            <li class="nav-bar__item"><a href="./Home.html"> Home</a></li>
            <li class="nav-bar__item"><a href="./Tour.html"> Tour</a></li>
            <li class="nav-bar__item nav-bar__item--active"><a href="./Blog.html"> Blog</a></li>
            <li class="nav-bar__item"><a href="./Attraction.html"> Attractions</a></li>
            <li class="nav-bar__item"><a href="./Service.html"> Services</a></li>
            <li class="nav-bar__item"><a href="./About.html"> About</a></li>
            <li class="nav-bar__item"><a href="./Contact.html"> Contact</a></li>
        </ul>

        <div class="hamburger__menu"> 
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </nav>

    <main>
        <h2 class="dallol-dashen__text">Dalol to Dashen</h2>
        <article class="dallol-dashen__paragraph">Ethiopia is located in the Northeast of Africa, bordering Somalia and Eritrea. It has Sudan, South Sudan, and Djibouti to its east,
            Kenya to its south and northwest and the Red Sea to its northeast. It's the 27th largest country in the world, with an area of 1.1 million square km. 
            Ethiopia is largely mountainous country situated at an elevation of 2000m above sea level and lake region that lies in the Great Rift Valley zone. 
            The Ethiopian highlands cover most of the country - these are some of the oldest mountains on Earth, over 12 million years old! The highest mountain peak is Ras Dashen at 4620m.
            A major river also flows through from north to south: the Blue Nile – one of two headwaters for the Nile River. 
            Ethiopia is home to over 80 different ethnic groups with Amharic as the official language alongside English and other local dialects.</article>
        <div class="dallol-dashen__container">
            <div class="dashen">
                <div class="dashen__image__container">
                    <img class="dashen__image" src="../Image/ras-dashen.jpg" alt="Ras Dashen Mountain Northern Ethiopia">
                    <h2 class="dashen__image__text">Dashen</h2>
                </div>
                <article class="dashen__description">The highest place in Ethiopia is Mount Ras Dejen, located on the Semien Mountains of northern Ethiopia. 
                    This volcano has an elevation of 4,533 metres (14,872ft) and sits atop a basaltic platform which has been created by thousands of 
                    years of volcanic activity. The mountain's peak is covered with snow for most of the year and provides stunning views as it rises out 
                    of a wide plain. Its unique shape gives it strong religious significance to local Ethiopians who consider this mountain sacred due to its
                    massive scale and power over nature.
                </article>
            </div>
            <div class="dallol">
                <article class="dallol__description">The lowest place in Ethiopia is the Danakil Depression, located in the Afar Region of Ethiopia. It is one of
                    the hottest and driest places on earth, with an average temperature above 33.5 degrees Celsius and little to no rainfall. The 14,000-square 
                    mile lowland trough stretches across Ethiopia and also into neighboring Eritrea and Djibouti. It contains three salt lakes including Lake Asale 
                    which is 216 feet below sea level, making it the second lowest point in Africa after Lake Assal in Djibouti. </article>
                <div class="dallol__image__container">
                    <h2 class="dallol__image__text">Dallol</h2>
                    <img class="dallol__image" src="../Image/dallol.jpg" alt="Dallol depression in Ethiopia Afar">
                </div>
            </div>
        </div>

        <section class="top-five">
            <h3 class="top-five__header">Top 5 Mountains in Ethiopia: Vast Beauty, Ancient History and Untamed Adventure. Explore the Highest Peaks of the Unique Landscape.</h3>
            <table class="table">
                <tr class="table__row">
                    <th>Name</th>
                    <th>Location</th>
                    <th>Height in meter</th>
                </tr>
                <tr>
                    <td>Ras Dashen</td>
                    <td>Amhara, North Ethiopia</td>
                    <td>4,620 m</td>
                </tr>
                <tr>
                    <td>Tullu Dimtu</td>
                    <td>Bale</td>
                    <td>4,377 m</td>
                </tr>
                <tr>
                    <td>Ābune Yosēf</td>
                    <td>Amhara</td>
                    <td>4,260 m</td>
                </tr>
                <tr>
                    <td>Guge</td>
                    <td>SNNPR</td>
                    <td>4,200</td>
                </tr>
                <tr>
                    <td>Hay</td>
                    <td>Amhara</td>
                    <td>4,173</td>
                </tr>
            </table>
        </section>


        <section>
            <h2 class="recomended__header">Recomended places to be visited</h2>
            <div class="recomended">
                <article class="recomended__video__text">Ethiopia is an incredible destination with a diverse range of attractions from 
                    the historic rock-hewn churches of Lalibela to the Simien Mountains.This country has plenty of beautiful places 
                    for visitors to enjoy. One of which is Danakil Depression, it is situated in Northeast Ethiopia and surrounded by
                    colourful salt plains and surreal volcanic landscapes. The church at Lalibela is also a breathtaking architectural
                    wonder as ancient stone buildings have been carved directly into rock, some have an amazing façade culminating in soaring 
                    spires. Further Lake Tana offers spectacular beauty surrounded by 
                    forested hillsides and houses 37 ancient monasteries on its islands.</article>
                <video controls class="recomended__video">
                    <source src="../Video/TOP 5 amaizing.mp4" type="video/mp4">
                    <track src="../Subtitle/Top+5+AMAZING+Places+to+Visit+in+Ethiopia++Africa+Travel+Guide_en.vtt" label="English" kind="captions" srclang="en-us" default>
                </video>
            </div>

            <div class="other__recomended">
                <img class="other__recomended__image" src="../Image/lalibela.jpg" alt="Lalibela Ethiopia">
                <article class="other__recomended__description">Lalibela is a historical town in Ethiopia which was the medieval capital of the Zagwe dynasty. 
                    It contains 11 rock-hewn churches from the 12th and 13th centuries, carved from rock and decorated with symbols representing eternity.
                    These churches are a World Heritage Site, visited by thousands of visitors each year for their unique Ethiopian-style architecture, colorful
                    frescoes, and rituals.</article>
            </div>

            <div class="other__recomended">
                <img class="other__recomended__image" src="../Image/axum.jpg" alt="Axum in Ethiopia">
                <article class="other__recomended__description">Axum is an ancient city located in Ethiopia. It is believed to be the center of the Queen of Sheba's kingdom
                    and one of the oldest cities in Africa. It contains many ancient monolithic stelae, or obelisks, that are carved from a single solid piece of 
                    granite and weigh up to 170 tonnes. Axum is home to the Ark of Covenant, claimed by some to be the chest containing the original Ten Commandments.
                    Axum is also known for its dramatic St Mary Cathedral which houses many religious artifacts such as a crown used by King Ezana. The city remains a major 
                    pilgrimage site for Ethiopian Christians.</article>
            </div>

            <div class="other__recomended">
                <img class="other__recomended__image" src="../Image/nile-fall.jpg" alt="Lake Tana & The Blue Nile Falls">
                <article class="other__recomended__description">Lake Tana is Ethiopia's largest lake, set at an elevation of 1,840m near the source of the Blue Nile River. It is home to an array of 
                    islands and monasteries. Nestled within its core is a beautiful collection of birds, fish, and other wildlife. A highlight for travelers is visiting the thundering Blue Nile Falls, 
                    consisting of 4 main sections (Kerssae Falls, infrastructure powerhouse Falls, Gilgel Gibe Falls 1, & Gall gel Gibe Falls 2). As part of visiting this spectacular site, observers also
                    have access to a mesmerizing view over Lake Tana and beyond.</article>
            </div>
        </section>
    </main>


    <footer class="footer">
        <div class="footer__container">
            <div class="footer__item">
                <ul class="footer__item__links">
                    <a class="footer__item__header">About</a>
                    <a href="#">tourism</a>
                    <a href="#">companys</a>
                    <a href="#">SiTE</a>
                    <a href="#">travel.et</a>
                    <a href="#">AAU</a>
                    <a href="#">sponsor</a>
                </ul>
            </div>
            <div class="footer__item">
                <ul class="footer__item__links">
                    <a class="footer__item__header">Companys</a>
                    <a href="#">ride</a>                    
                    <a href="#">feres</a>                 
                    <a href="#">taxiye </a>                   
                    <a href="#">tour guides</a>                 
                    <a href="">hotel booking</a>                 
                    <a href="#">ethio tele</a>                                     
                </ul>
            </div>

            <div class="footer__logo">
                <img src="../Image/Logo.png" alt="Logo of the website">
            </div>

            <div class="footer__item">
                <ul class="footer__item__links">
                    <a class="footer__item__header">Services</a>
                    <a href="#">tour guide</a>  
                    <a href="#">transport</a>   
                    <a href="#">flights</a>  
                    <a href="#">hotels</a>  
                    <a href="#">restaurant</a>   
                    <a href="#">music</a>   

                </ul>
            </div>
            <div class="footer__item">
                <ul class="footer__item__links">
                    <a class="footer__item__header">Contact</a>
                    <a href="#">email</a>   
                    <a href="#">facebook</a>    
                    <a href="#">instagram</a>   
                    <a href="#">linkedin</a>    
                    <a href="#">youtube</a> 
                    <a href="#">twitter</a>    
                </ul>
            </div>
        </div>

        <div class="footer__links">
            <p class="footer__copy-right">© Photo, Inc. 2019. We love our users!</p>
            <div class="footer__link">
                <div class="flex__footer">
                    <div class="footer__link__item">
                        <div class="footer__image">
                            <img src="../Image/facebook.jpeg" alt="Facebook">
                        </div>                    
                        <p class="footer__link__name">Facebook</p>
                    </div>
                    <div class="footer__link__item">
                        <div class="footer__image">
                            <img src="../Image/twitter.png" alt="Twitter">
                        </div> 
                        <p class="footer__link__name">Twiter</p>
                    </div>
                </div>
                
                <div class="footer__link__item">
                    <div class="footer__image">
                        <img src="../Image/Instagram_icon.png.webp" alt="Instagram">
                    </div>
                    <p class="footer__link__name">Instagram</p>
                </div>

                <div class="flex__footer">
                    <div class="footer__link__item">
                        <div class="footer__image">
                            <img src="../Image/linkedin.png" alt="Linkedin">
                        </div>
                        <p class="footer__link__name">YouTube</p>
                    </div>
                    <div class="footer__link__item">
                        <div class="footer__image">
                            <img src="../Image/youtube.jpg" alt="YouTube">
                        </div>
                        <p class="footer__link__name">Gmail</p>
                    </div>
                </div>
               
            </div>
        </div>
    </footer>

    <script src="./../index.js"></script>
</body>
</html>