<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel.et</title>
    <link rel="stylesheet" href="./../Styles/Service.css">
    <link rel="stylesheet" href="./../Styles/index.css">
</head>
<body>
    <header class="top">
        <h1 class="top__left-part">betselotkidane111@gmial.com | +251 9 49 38 79 08</h1>
        <div class="top__right-part">
                <img class="top__right-part__social-media" src="../Image/facebook.jpeg" alt="Facebook">
                <img class="top__right-part__social-media" src="../Image/twitter.png" alt="Twitter">
                <img class="top__right-part__social-media" src="../Image/Instagram_icon.png.webp" alt="Instagram">
                <img class="top__right-part__social-media" src="../Image/linkedin.png" alt="Linkedin">
                <img class="top__right-part__social-media" src="../Image/youtube.jpg" alt="YouTube">
        </div>
    </header>

    <nav class="nav-bar">
        <img class="logo" src="../Image/Logo.png" alt="Logo of the website">
        
        <ul class="nav-bar__menu">
            <li class="nav-bar__item"><a href="./Home.html"> Home</a></li>
            <li class="nav-bar__item"><a href="./Tour.html"> Tour</a></li>
            <li class="nav-bar__item"><a href="./Blog.html"> Blog</a></li>
            <li class="nav-bar__item"><a href="./Attraction.html"> Attractions</a></li>
            <li class="nav-bar__item nav-bar__item--active"><a href="./Service.html"> Services</a></li>
            <li class="nav-bar__item"><a href="./About.html"> About</a></li>
            <li class="nav-bar__item"><a href="./Contact.html"> Contact</a></li>
        </ul>

        <div class="hamburger__menu"> 
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </nav>


    <main>
        <h2 class="service">Tours and Travel Services</h2>
        <div class="services__container">
            <img class="service__image" src="../Image/hamer 2.jpg" alt="Hemer Women">
            <article class="service__description">
                <h3 class="service__text">Service</h3>
                <p class="service__paragraph">We specialize in creating unique and personalized sightseeing journeys 
                    for visitors from around the world. Our experienced team of certified tour guides offers private,
                    customized tours tailored to your interests and schedule. From cultural and historical cities to outdoor 
                    activities such as trekking, bird watching or nature walks, we work with you to provide an unforgettable 
                    experience. Whether you plan a half-day city tour or a multi-day adventure across the country, we provide logistics
                    support, accommodation arrangements and high-quality service on a budget that suits you. Satisfaction guaranteed!</p>
            </article>
        </div>

        <div class="services-grid__container">
            <div class="service-grid__item">
                <div class="service-flex__center">
                    <img class="service-grid__image" src="../Image/transortation.png" alt="Transportation service">
                </div>
                <div class="service-flex__center">
                    <p class="service-grid__text">Transportation</p>
                </div>
            </div>
            <div class="service-grid__item">
                <div class="service-flex__center">
                    <img class="service-grid__image" src="../Image/hotels.png" alt="Hotels service">
                </div>
                <div class="service-flex__center">
                    <p class="service-grid__text">Hotels</p>
                </div>
            </div>
            <div class="service-grid__item">
                <div class="service-flex__center">
                    <img class="service-grid__image" src="../Image/flights.png" alt="Flights information">
                </div>
                <div class="service-flex__center">
                    <p class="service-grid__text">Flights</p>
                </div>
            </div>
            <div class="service-grid__item">
                <div class="service-flex__center">
                    <img class="service-grid__image" src="../Image/tour guide.jpg" alt="Tour guide service">
                </div>
                <div class="service-flex__center">
                    <p class="service-grid__text">Tour Guide</p>
                </div>
            </div>
            <div class="service-grid__item">
                <div class="service-flex__center">
                    <img class="service-grid__image" src="../Image/recommendations.png" alt="Recommendation service">
                </div>
                <div class="service-flex__center">
                    <p class="service-grid__text">Recommendations</p>
                </div>    
            </div>
            <div class="service-grid__item">
                <div class="service-flex__center">
                    <img class="service-grid__image" src="../Image/history.png" alt="History of Ethiopia service">
                </div>
                <div class="service-flex__center">
                    <p class="service-grid__text">History</p>
                </div>
            </div>
        </div>

        <div class="you-may__container">
            <h2 class="you-may__header">You may also like this</h2>   
            <div class="you-may__grid__container">
                <div class="you-may__grid__item">
                    <img class="item__image-1" src="../Image/ethio tour and travel egency.png" alt="Ethiopian Tour and Travel Egency">
                    <p class="item__text-1">Ethio Tour and Travel</p>
                </div>
                <div class="you-may__grid__item">
                    <img class="item__image-2" src="../Image/Ethio air line official website.png" alt="Ethiopian ariline">
                    <p class="item__text-2">Ethiopian airline official</p>
                </div>
                <div class="you-may__grid__item">
                    <img class="item__image-3" src="../Image/bookign.com official website.png" alt="Booking.com official website">
                    <p class="item__text-3">Booking.com</p>
                </div>
            </div>
        </div> 
    </main>

    <footer class="footer">
        <div class="footer__container">
            <div class="footer__item">
                <ul class="footer__item__links">
                    <a class="footer__item__header">About</a>
                    <a href="#">tourism</a>
                    <a href="#">companys</a>
                    <a href="#">SiTE</a>
                    <a href="#">travel.et</a>
                    <a href="#">AAU</a>
                    <a href="#">sponsor</a>
                </ul>
            </div>
            <div class="footer__item">
                <ul class="footer__item__links">
                    <a class="footer__item__header">Companys</a>
                    <a href="#">ride</a>                    
                    <a href="#">feres</a>                 
                    <a href="#">taxiye </a>                   
                    <a href="#">tour guides</a>                 
                    <a href="">hotel booking</a>                 
                    <a href="#">ethio tele</a>                                     
                </ul>
            </div>

            <div class="footer__logo">
                <img src="../Image/Logo.png" alt="Logo of the website">
            </div>

            <div class="footer__item">
                <ul class="footer__item__links">
                    <a class="footer__item__header">Services</a>
                    <a href="#">tour guide</a>  
                    <a href="#">transport</a>   
                    <a href="#">flights</a>  
                    <a href="#">hotels</a>  
                    <a href="#">restaurant</a>   
                    <a href="#">music</a>   

                </ul>
            </div>
            <div class="footer__item">
                <ul class="footer__item__links">
                    <a class="footer__item__header">Contact</a>
                    <a href="#">email</a>   
                    <a href="#">facebook</a>    
                    <a href="#">instagram</a>   
                    <a href="#">linkedin</a>    
                    <a href="#">youtube</a> 
                    <a href="#">twitter</a>    
                </ul>
            </div>
        </div>

        <div class="footer__links">
            <p class="footer__copy-right">© Photo, Inc. 2019. We love our users!</p>
            <div class="footer__link">
                <div class="flex__footer">
                    <div class="footer__link__item">
                        <div class="footer__image">
                            <img src="../Image/facebook.jpeg" alt="Facebook">
                        </div>                    
                        <p class="footer__link__name">Facebook</p>
                    </div>
                    <div class="footer__link__item">
                        <div class="footer__image">
                            <img src="../Image/twitter.png" alt="Twitter">
                        </div> 
                        <p class="footer__link__name">Twiter</p>
                    </div>
                </div>
                
                <div class="footer__link__item">
                    <div class="footer__image">
                        <img src="../Image/Instagram_icon.png.webp" alt="Instagram">
                    </div>
                    <p class="footer__link__name">Instagram</p>
                </div>

                <div class="flex__footer">
                    <div class="footer__link__item">
                        <div class="footer__image">
                            <img src="../Image/linkedin.png" alt="Linkedin">
                        </div>
                        <p class="footer__link__name">YouTube</p>
                    </div>
                    <div class="footer__link__item">
                        <div class="footer__image">
                            <img src="../Image/youtube.jpg" alt="YouTube">
                        </div>
                        <p class="footer__link__name">Gmail</p>
                    </div>
                </div>
               
            </div>
        </div>
    </footer>

    <script src="./../index.js"></script>
</body>
</html>